<!DOCTYPE html>
<html>
  <head>
    <title>[% title %]</title>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="/static/fancybox/source/jquery.fancybox.pack.js?v=2.1.4"></script>
    <script src="/static/js/spidie.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/fancybox/source/jquery.fancybox.css?v=2.1.4">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/spidie2.css">
  </head>
  <body>
    <div id="wrap">
      <div class="container">
        <h4>FjoSpidie</h4>
        [% content %]
      </div>
    </div>
    <div id="footer">
      <div class="container">
        <p class="muted credit">Courtesy of <a href="mailto://espen@mrfjo.org">Espen Fjellv&aelig;r Olsen</a>.</p>
        <a href="/">Reports</a>
        <a href="/logout">Log out</a>
      </div>
    </div>   
  </body>
</html>
