/* Sticky footer styles
   -------------------------------------------------- */      
html,
body {
    height: 100%;
    padding-top: 30px; /* 60px to make the container go all the way to the bottom of the topbar */
/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}
#footer {
    background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}


.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
:focus {
    outline: 0;
}


.form label {
    display: block;
    color: #999;
}

.form {
    font-size: 10pt;
    width: 600px;
    margin: 50px auto;
    padding: 25px;
    background-color: rgba(250,250,250,0.5);
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2),
    inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.form input {
    float: left;
}

.form input:not([type=submit]) {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
}


input {
    width: 400px;
}

tr.report,
tr.alert {
    cursor: pointer;
}

.table tbody > tr.suspicious:nth-child(odd) > td,
.table tbody > tr.suspicious:nth-child(odd) > th {
  background-color: #f2dede;
}

.table tbody tr.suspicious:hover > td,
.table tbody tr.suspicious:hover > th {
  background-color: #ebcccc;
}

tr.suspicious {

    background-color: #f2dede;
}
table{
    table-layout: auto;

}
td {
    word-wrap: break-word;
    word-break: break-all;
    
}
th.hheader {
    cursor: pointer;
    }

td.headers {
    width: 50%;
    cursor: pointer;

}


img.graph {
    max-height: 450px;
    max-width: 100%;
}


.right-caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #000000;
}

.container .credit {
    margin: 20px 0;
}

.signature {
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}
